/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *=require bootstrap/dist/css/bootstrap.min
 */
 ul li{
    list-style-type: none;
 }
.container #background_image{
   -ms-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
   opacity: 0.5;
   height: 100%;
   width: 100%;
}
.background_image:hover{
   opacity: none;
}
@media only screen and (max-width: 768px) {
   .grid_box {
      height: 250px;
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      display: block;
   }

   .each_picture {
     text-align: center;
   }
   .each_title{
      text-align: center;

      margin-left: auto;
      margin-right: auto;
      display: block;
   }
   .buttons {
      display: inline;
   }
   .image_fit {
      width: 100%;
   }
   .col-md-6{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
   }

}
