/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.title {
  text-align: center;
  font: 36px Impact, sans-serif;
  color: black;
  margin: 2px;
  padding: 2px;
}
.field {
  font: 24px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
  /*text-align: center;*/
}
.new_review {
  font: 24px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
}
.author {
  text-align: center;
  font: 18px Impact, sans-serif;
  color: black;
  margin: 2px;
  padding: 2px;
}
.body {
  text-align: center;
  font: 36px Impact, sans-serif;
  color: black;
  margin: 2px;
  padding: 2px;
}

.review_body {
  font: 24px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
  /*padding-right: 1em;*/

}
#review_body {
  font: 18px Courier, serif;
  color: black;
  text-shadow: 1px 1px #e7e7e7;
  margin: 2px;
  padding: 2px;
}

#review {
  font: 24px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
}
#reviewer {
   font: 18px Courier, serif;
   color: black;
   text-shadow: 1px 1px #e7e7e7;
   margin: 2px;
   padding: 2px;
}
#review_title {
   font: 24px Impact, sans-serif;
   color: white;
   text-shadow: 2px 2px black;
   margin: 2px;
   padding: 2px;
}

#review_author {
  font: 18px Courier, serif;
  color: black;
  text-shadow: 1px 1px #e7e7e7;
  margin: 2px;
  padding: 2px;
}
#review_picture {
  font: 24px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
}
#show_review {
  font: 24px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
}

@media only screen and (max-width: 600px) {
   .grid_box {
      height: 250px;
      width: 250px;

   }
@media only screen and (max-width: 768px) {
   .grid_box {
      margin-left: auto;
      margin-right: auto;
      display: block;

   }
   .each_picture {
     text-align: center;
   }
   .each_title{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
   }

   .buttons {
      display: inline;
   }
   .image_fit {
      width: 100%;
   }
   .col-md-6{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
   }
}
