/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#review_title {
  /*text-align: center;*/
  font: 36px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
}
#review_body {
  font: 36px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
}
#review_author {
  font: 36px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
}
#review_picture {
  font: 36px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
}
.title {
  font: 36px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
}
.author {
  /*text-align: center;*/
  font: 36px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
}
.body {
  /*text-align: center;*/
  font: 36px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
<<<<<<< HEAD
}*/

.grid_box{
   height: 500px;
   width: 500px;
}
.image_full {
   width: 100%;
   height: 100%;
}

=======
}
>>>>>>> 2b7990ee76439fdf61d46a08aac67c13d08512c2
#review {
  /*text-align: center;*/
  font: 36px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
}
#reviewer {
  /*text-align: center;*/
  font: 36px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
}
#review_body {
  font: 36px Impact, sans-serif;
  color: white;
  margin: 2px;
  padding: 2px;
  text-shadow: 2px 2px black;
}
.show_review {
  font: 36px Impact, sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin: 2px;
  padding: 2px;
}
