<% if reviews.any? %>
   <% reviews.each do |review| %>

      <p id="review_title">
         <%= review.title %>
      </p>
      <p id="reviewer">
        <%= review.author %>
      </p>

      <p id="review_body">
        <%= review.body %>
      </p>

      <p>
        <%= link_to 'Delete Review', [review.picture, review],
                     method: :delete,
                     data: { confirm: 'Are you sure?' } %>
      </p>
   <% end %>
<% else %>
   **no reviews yet**
<% end %>
