<% unless reviews.nil? %>
   <% reviews.each do |review| %>
   <p id="reviewer">
     
     <%= review.author %>
   </p>

   <p>

<div id="review_body">     <%= review.body %> </div>
   </p>
   <% end %>
<% else %>
   **no reviews yet**
<% end %>
